<body id="timeline"> 
  <header class="navbar navbar-inverse hero" role="banner">
      <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/home" class="navbar-brand">YoUrban</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="/home">
                    Home
                </a>
              </li>
              <li class="dropdown">
                <% random_job_id = @jobs.sample.id %>
                <a href=<%= "/places?job_id=#{random_job_id}" %> >
                    Feeling Random
                </a>
              </li>
            </ul>
        </nav>
      </div>
  </header>

  <div id="dan"> <!-- background image is in compiled/theme.css -->
  </div>

  <div class="danmargin">
    <div id="blog">
      <div id="posts">
        <div class="container">
          <div class="row">
            <div class="col-md-3 sidebar">
              <div>
                <a href=<%= "/compare?a=#{@results[0].id}&b=#{@results[1].id}&c=#{@results[2].id}&d=#{@results[3].id}&e=#{@results[4].id}&f=#{@results[5].id}" %> class="button button-large">Comparison Table</a>
              </div></br>
              <div class="search">
                <form>
                  <span class="icomoon-search"></span>
                  <input type="text" name="job_title" id="job_title" placeholder="Enter new occupation..." list="job-title" />
                  <datalist id='job-title'>
                    <% @jobs.all.each do |job| %>
                      <option value="<%= job.title %>"></option>
                    <% end %>
                  </datalist>
                </form>
              </div>
            </div>
            <div class="col-md-8 sidebar">
              <div class="updates col-md-3 sidebar">
                <h3>
                <strong>
                  Showing Results for: <%= @job.title %>
                  <i class="fa fa-rss"></i>
                </strong>
                </h3>
                The national average salary is <%= number_to_currency(@job.national_median_salary, precision: 0) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="timeline-wrapper">
    <div class="container">
      
      <div class="year">
        <span>Your Recommendations</span>
      </div>

      <% i = 1 %>
      <% @cities.each do |city| %>

        <div class="node <%= "left" if i.odd? %>">
          <div class="marker"></div>
          <a href="/places/<%= city.id %>?job_id=<%= @job.id %>">
          <div class="entry" style="background-image:url(<%= city.image %>);">
            <div class="intro">
              <h4>#<%= i %>: <%= city.name + ", " + city.state %></h4>
              <p>
                Salary: <%= number_to_currency(JobByCity.find_by(city_id: city.id, job_id: @job.id).median_salary, precision: 0) %> 
                <br />
                Cost of Living per Month: <%= number_to_currency(city.cost_of_living_monthly, precision: 0) %>
              </p>
            </div>
          </div>
          </a>
        </div>

      <% i = i + 1 %>
      <% end %>
    </div>
  </div>



  

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 copyright">
          React © 2014
        </div>
        <div class="col-sm-6 menu">
          <ul>
                <li>
                    <a href="features.html">Features</a>
                </li>
                <li>
                  <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="pricing.html">Pricing</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
                <li class="active">
                    <a href="blog.html">Blog</a>
                </li>
              </ul>
        </div>
        <div class="col-sm-3 social">
          <p>
            Hello
          </p>

          </a>          
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      $(".search input:text").focus(function () {
        $(".icomoon-search").addClass("active");
      });
      $(".search input:text").blur(function () {
        $(".icomoon-search").removeClass("active");
      });
    });
  </script>
</body>
