<h1><%= @city.name %></h1>
<p>State: <%= @city.state %></p>
<p>Cost of Living Index: <%= @city.cost_of_living_index %></p>
<p>Current Weather: <%= @city.current_weather %></p>
<p>Walk Score: <%= @city.walk_score %></p>
<img height=200px src="<%= @city.image %>">

<h4>Occupation: <%= @job.title %></h4>
<p>Salary in <%= @city.name %>: <%= JobByCity.find_by(city_id: @city.id, job_id: @job.id).median_salary %></p>

