<body id="services">
  <header class="navbar navbar-inverse hero" role="banner">
      <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/home" class="navbar-brand">YoUrban</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="/home">
                    Home
                </a>
              </li>
            </ul>
        </nav>
      </div>
  </header>

  <div id="dan"> <!-- background image is in compiled/theme.css -->
  </div>


  
  <div id="hero">
    <div class="container dan">
      <div class="row" style="overflow:hidden;">
        <div class="col-md-5 image">
          <img src=<%= @city.image %> class="img-responsive animated fadeInUp img-rounded" alt="services1" height="375" width="500" >
        </div>
        <div class="col-md-7 info">
          <h3><%= @city.name + ", " + @city.state %></h3>
          <% if @weather == "N/A" %>

          <% else %>
            <h4>Current Weather:</h4>
            <p>
            Temperature: <%= @weather["temp_f"] %> F</br>
            <%= @weather["weather"] %></br>
            Humidity: <%= @weather["relative_humidity"] %>
            <img src=<%= @weather["icon_url"] %>>
            </p>
          <% end %>
          <p>
            Occupation: <%= @job.title %>
            <br />
            Average Salary Across US: <%= number_to_currency(@job.national_median_salary, precision: 0) %>
          </p>
        </div>
      </div>
      <div class="row danstats">
        <div class="col-sm-3">
          Salary
          <strong><%= number_to_currency(JobByCity.find_by(city_id: @city.id, job_id: @job.id).median_salary, precision: 0) %></strong>
        </div>
        <div class="col-sm-3">
          Monthly Expenses
          <strong><%= number_to_currency(@city.cost_of_living_monthly, precision: 0) %></strong>
        </div>
        <div class="col-sm-3">
          Population
          <strong><%= number_with_delimiter(@city.population, delimiter: ',') %></strong>
        </div>
        <div class="col-sm-3">
          Walk Score*
          <strong><%= @city.walk_score %></strong>
        </div>
      </div>
    </div>
  </div>




  <div id="tabs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sections">
            <div class="section active">
              <strong>*Walk Score Scale</strong>
                <p>
                  90 - 100 | Daily errands do not require a car </br>
                  70 - 89  | Most errands can be accomplished on foot </br>
                  50 - 69  | Some errands can be accomplished on foot </br>
                  25 - 49  | Most errands require a car </br>
                  0  - 24  | Almost all errands require a car </br>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 copyright">
          React © 2014
        </div>
        <div class="col-sm-6 menu">
          <ul>
                <li>
                    <a href="features.html">Features</a>
                </li>
                <li>
                  <a href="services.html">Services</a>
                </li>
                <li class="active">
                    <a href="pricing.html">Pricing</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
              </ul>
        </div>
        <div class="col-sm-3 social">
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      
      // Enables the pricing tabs
      $tabs = $("#tabs-option .tab");
      $prices = $("#tabs-option .price");
      $tabs.click(function () {
        $tabs.removeClass("active");
        $(this).addClass("active");
        var dataPrice = $(this).hasClass("monthly") ? "monthly" : "anually";
        $prices.each(function (index, el) {
          $(el).html($(el).data(dataPrice));
        });
      });
    });
  </script>
</body>




